{
    -fx-color-50:#fff8e1;
    -fx-color-100:#ffecb3;
    -fx-color-200:#ffe082;
    -fx-color-300:#ffd54f;
    -fx-color-400:#ffca28;
    -fx-color-500:#ffc107;
    -fx-color-600:#ffb300;
    -fx-color-700:#ffa000;
    -fx-color-800:#ff8f00;
    -fx-color-900:#ff6f00;
    -fx-color-A100:#ffe57f;
    -fx-color-A200:#ffd740;
    -fx-color-A400:#ffc400;
    -fx-color-A700:#ffab00;
}