{
    -fx-color-50:#f9fbe7;
    -fx-color-100:#f0f4c3;
    -fx-color-200:#e6ee9c;
    -fx-color-300:#dce775;
    -fx-color-400:#d4e157;
    -fx-color-500:#cddc39;
    -fx-color-600:#c0ca33;
    -fx-color-700:#afb42b;
    -fx-color-800:#9e9d24;
    -fx-color-900:#827717;
    -fx-color-A100:#f4ff81;
    -fx-color-A200:#eeff41;
    -fx-color-A400:#c6ff00;
    -fx-color-A700:#aeea00;
}